*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;

}
/* header start here */
header{
    background-color: #e9d9906e;
}
/* Nav start */

.nav_container{
    display: flex;
    justify-content: space-between;
    margin: 2rem 10rem;
    
   
}
.name-letter{
    color: red;
}
.nav_left h1{
    font-size: 2rem;
    margin-top: 2rem;
}
.nav_right ul{
   display: flex;
   margin-top: .6rem;
   gap: 3rem;   
}
.nav_right li{
    font-size: 1.2rem;
}
.nav_right a{
    color: #000;
}
.nav__button{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: #fff;
    background-color: #f02626ad;
    color: #fff;
    margin-top: -.7rem;
}
.nav__button:hover{
    background-color: #49d1d1;
}
/* Nav end */
/* Hero start */
.hero__left h4{
    margin:7rem 0 .8rem;
}
.hero__left h2{
    font-size: 2.5rem;
    margin-bottom: .8rem;
}
.hero__left p{
    margin-bottom: .8rem;
}
.hero__btn-1{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    border: #fff;
    background-color: #f02626ad;
    color: #fff;
    
}
.hero__btn-2{
    padding: 1rem 1.5rem;
    border:1px solid orangered;
    border-radius: 5px;
   
    
    color: orangered;
    
}
.hero__btn-1:hover{
  background-color: #49d1d1;
}
.hero__btn-2:hover{
  background-color: #49d1d1;
}
.hero__container{
   display: flex;
    
}
.hero__left{
  margin-left: 10rem; 
  flex: 1;
}
.hero__right{
    flex: 1;
    
}
.my-img{
    
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:30rem;
    margin-left: 15rem;
    
}
/* header section end */

/* main section start */
/* about section start */
.about{
    background-color: #e9d9906e;
    margin: 4rem;
    padding: 4.5rem;
}
.about__card{
    background-color: #fff;
    border: 1px solid black;
    padding: 1.5rem;
}
.intro h2{
    text-align: center;
    margin: .5rem;
}
.intro p{
    text-align: justify;
}
.details{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 1rem;
    margin-left: 5rem;
}
.details-part{
    font-weight: 900;
}
/* about section end */
/* Skill section start */
.skill h2{
    text-align: center;
    margin: .5rem;
}
/* .skill p{
    padding: 0 14rem;
} */
 .skil__card h4{
    margin: 1rem 0;
 }
 .skill__part-1 p{
    padding: 1rem 12rem;
    align-items: center;
 }
.skill__part-2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 4rem;
  gap: 1rem;
}
.skil__card{
    border-radius: 5px;
    box-shadow: 1px 1px 11px 1px gray;
    padding: 2rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin: 4rem;
}
.resume h2{
    text-align: center;
}
.resume p{
    margin: 1rem 0 1rem;
}
.education__card h4{
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.experience__card h4{
    margin-top: 1rem;
    margin-bottom: .5rem;
}
#resume_button{
    margin-left: 40rem;
    
}
/* Skill section end */
/* Footer start */
.footer{
    background-color: #e9d9906e;
    display: flex;
    margin: 2rem;
    padding: 4rem;
}
.footer p{
    margin: 1rem 0;
}
.footer__left,.footer__right{
  flex: 1;
  padding: 2rem;
}
.socialmedia{
    display: flex;
    gap: 2rem;
   
}
input{
    margin: .5rem;
    padding: .8rem;
}
.msg{
    padding-bottom: 3rem;
}
.footer-btn{
    margin-top: 1rem;
}
/* Footer end */

/* Media quary */
@media screen and (max-width:576px) {
    .nav_container{
       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 2rem;
       
    }

    .hero__container{
        flex-direction: column-reverse;
        margin-top: -5rem;
         
     }
     .my-img{
        margin-left: 1rem;

    }
    .hero__left{
        margin-top: -14rem; 
        margin-left: 1.5rem;
        
      }
      .details{
        
        grid-template-columns: repeat(1,1fr);
        margin-left: 2rem;
       
    }
    .about{
        background-color: #e9d9906e;
        margin: 1rem;
        padding: 2.5rem;
    }
    .skill__part-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 1rem;
        
      }
      .skill__part-1 p{
        padding: 1rem;
        align-items: center;
     }
     .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 2rem;
    }
    #resume_button{
        margin-left: 14rem;
        
    }
    .footer{
        
        flex-direction: column;
       
    }

}


